@model CRMSTUBSOFT.Crm_ClientParent
@{
    ViewBag.Title = "Consulter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-3"><span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block">Consulter Client Parent @Model.Libelle</span></div>
                <div class="col-md-4" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Tableau de Bord</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/ClientParents">Client Parent</a>
                                </li>
                                <li class="breadcrumb-item active">
                                   Consultation
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                  
                    <div class="card-body row pt-0">
                        <div class="col-md-4">
                            <div class="form-group row no-gutters">
                                <label for="TacheTitre" class="col-sm-12  pt-0  col-form-label"> Client Parent </label>
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.Libelle, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group  row no-gutters mb-4">
                                <label for="CodeClient" class="col-sm-12 pt-0 col-form-label"> Sous Client </label>
                                <div class="col-sm-12">
                                    @Html.ListBox("CodeClientFils", new MultiSelectList(ViewData["ListClient"] as List<Client>, "CodeClient", "RaisonSociale"), new { @multiple = "multiple", @placeholder = "Sélectionner des clients", @class = "select2 form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</div>

