@model CRMSTUBSOFT.Crm_ModuleNature
@{
    ViewBag.Title = "Module Nature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header card row">
        <div class="content-header-left col-md-6 col-12 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Créer Module Nature</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Tableau de Bord</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/Crm_TacheNature">Module Nature</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Création
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Information Genérale</h4>
                    <div class="heading-elements">
                        <button type="submit" class="btn btn-success pull-right" style=" margin-top: -12px;"><i class="la la-save"></i> Enregistrer</button>

                    </div>

                    <hr />
                </div>
                <div class="card-body row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Nature" class="col-sm-3"> Nature </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.Nature, (IEnumerable
                       <SelectListItem>)ViewData["ListNature"], "Sélectionner nature tache", new { @class = "selectize-control input-selectize multi", @required = "required", @id = "Nature" })
                            </div>
                        </div>
                    </div>
                                 @Html.HiddenFor(model => model.IdNatureType, new { htmlAttributes = new { @class = "form-control" } })
                           
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="NomModule" class="col-sm-12"> Nom Module </label>
                            @*<input type="text" name="LibelleModule" id="LibelleModule" />*@
                            @Html.EditorFor(model => model.Libelle, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>

                </div>
             </div>
            </div>
        </div>
                }
