@model CRMSTUBSOFT.Crm_TacheReclamation

@{
    ViewBag.Title = "Calendrier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Calendrier</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Tableau de Bord</a>
                        </li>
                        @* <li class="breadcrumb-item">
                                <a href="/Impression">Impression Tache</a>
                            </li>*@
                        <li class="breadcrumb-item active">
                            Calendrier
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

 
   <div class="card">
       <div class="card-content">
           <div class="card-body">
                   <div id="calendar"></div>
           </div>
       </div>
   </div>
        </div>
