
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section class="flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-6 col-md-8 col-12 box-shadow-2 p-0 mt-5">
                    <div class="card border-grey border-lighten-3 m-0">
                        <div class="card-header border-0 text-center p-0 mt-1">
                            <div class="card-title text-center">
                                <div class="w-100 p-2">Envoi des rapport par email</div>
                            </div>
                            <hr />
                        </div>
                        <div class="card-content">
                            <div class="card-body pt-0">
                                <!--input type="button" class="btn btn-primary" value="Ouvrir Outlook" onclick="openOutlookemailbox()" /-->

                                <a href="ExporttoEmail" class="btn btn-info" target="_blank">Générérer rapport et envoi email</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>


<script>
    function openOutlookemailbox() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("openOutlookemailbox", "Crm_TacheReclamation")',
                data: {  },
                beforeSend: function () {
                },
                success: function (response) {
                    window.location = response;
                },
                error: function (xhr, errorType, exception) {
                }
         });
      }
</script>