
@{
    ViewBag.Title = "File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File</h2>

<div data-repeater-list="repeater-list">
    <div data-repeater-item="">
        <div class="row mb-1">
            <div class="col-9 col-xl-10">
                <label class="file center-block">
                    <input type="file" id="file">
                    <span class="file-custom"></span>
                </label>
            </div>

        </div>
    </div>
</div>
